/* 
You do not have to use the CSS Custom Properties below, but you must use the colors as defined. 

Instructions on how to use CSS Custom Properties.
https://developer.mozilla.org/en-US/docs/Web/CSS/--*
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
https://www.youtube.com/watch?v=PHO6TBq_auI&ab_channel=KevinPowell
*/

/* CSS Custom Variables Start */
:root {
  --winter-primary: #4f7aa5;
  --spring-primary: #723660;
  --summer-primary: #579453;
  --autumn-primary: #bb733f;
  --winter-light: #dce4ed;
  --spring-light: #e3d7df;
  --summer-light: #ddeadd;
  --autumn-light: #f1e3d9;
  --default-spacing: ;
}
.home-index {
  --season-primary: white;
}
.winter-page,
.winter {
  --season-primary: var(--winter-primary);
  --season-light: var(--winter-light);
}
.spring-page,
.spring {
  --season-primary: var(--spring-primary);
  --season-light: var(--spring-light);
}
.summer-page,
.summer {
  --season-primary: var(--summer-primary);
  --season-light: var(--summer-light);
}
.autumn-page,
.autumn {
  --season-primary: var(--autumn-primary);
  --season-light: var(--autumn-light);
}
::selection {
  background-color: var(--season-primary);
  color: #fff;
}
/* CSS Custom Variables End */
/* CSS Restets Start */
* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  background-color: #b4a18e;
}
img {
  display: block;
  height: auto;
  width: 100px;
}
/* CSS Restets End */

/* 
Rules for this assignment.
*** You MAY NOT edit the HTML structure of the index.html file.
*** You MAY add classes to the index.html file.
*** You MUST write the css to style all pages in this css file.
*** You MAY use the CSS Variables above, but you do not have to.
*** Pay close attention to and use the colors declared in the CSS variables at the top of this file.
 
1. Take a close look at the three mockup image files.
2. Write the CSS styles to create the web pages in the mockup.
3. There will be five HTML files when you are done.
    index.html
    winter.html
    spring.html
    summer.html
    autmun.html
*** You have been provided with the HTML for the Home page. Use the same structure for the other pages.
4. Use the layout displayed in the winter-mockup.png image as a template for the other season pages.
5. Use lorem ipsum for the text. Your text does not need to match the text in the mockup, but try not to use too many or too few words.
6. Use the images located in the assets/images folder on season pages.
7. The ".big-hero" <div> element will be 100vh in height.
8. Use the dark version of the images for the ".big-hero" <div> elements on the season pages.
9. Give the season page a title of <title>Flexbox | Season-Name</title>
10. Use the correct favicon for each page.
11. Swap the background-color value with the color value when hovering over the navigation anchors.
EXAMPLE #1: On the Home page, when hovering over the anchor elements the background will become white and the color of the text will become black.
EXAMPLE #2: On the Winter page, when hovering over the anchor elements the background will become #dce4ed and the color of the text will become #4f7aa5.
EXAMPLE #3: On the Spring page, when hovering over the anchor elements the background will become --spring-light and the color of the text will become --spring-primary.
*/

/* Add Your CSS below this line. */

.big-hero {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/IMG_5055.PNG");
  justify-content: center;
  background-size: cover;
}
.big-hero1 {
  height: 100vh;
  display: flex;
  align-items: center;
  /* background-image: url("/assets/images/IMG_2077.MOV; */
  justify-content: center;
  background-size: cover;
}

.big-hero-winter {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/IMG_5061.PNG");
  justify-content: center;
  background-size: cover;
}

.big-hero-spring {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/spring.jpg");
  justify-content: center;
  background-size: cover;
}

.big-hero-summer {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/summer.jpg");
  justify-content: center;
  background-size: cover;
}

.big-hero-autumn {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/autumn.jpg");
  justify-content: center;
  background-size: cover;
}

.section-content {
  background: var(--season-light);
  padding: 20px;
}

header {
  border: 1px solid black;
  background-color: black;
  margin: 0px;
  padding: 10px;
  word-spacing: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.bottom-nav {
  border: 1px solid black;
  background-color: black;
  margin: 0px;
  padding: 10px;
  word-spacing: 10px;
  text-align: right;
}

ul {
  margin: 0;
  padding: 0;
  width: auto;
}
li a {
  display: block;
  text-decoration: none;
}

/* a:hover .top-nav {
  background-color: var(--index-light);
  color: black;
} */

a:hover {
  background-color: var(--season-light);
  color: var(--season-primary);
}

h1 {
  margin: 0px;
  /* background-image: url("../images/four-seasons-dark.jpg"); */
  background-size: cover;
  text-align: center;
  color: rgb(46, 7, 7);
}

h2 {
  letter-spacing: 5px;
  line-height: 2em;
  text-align: center;
  margin: 10px;
  color: white;
  margin-bottom: auto;
  text-transform: uppercase;
}

.section-heading {
  background-color: var(--season-primary);
  margin: 10px;
  margin-bottom: 0px;
}

img {
  display: block;
  height: 475px;
  width: 250px;
  padding: 5px;
  margin-bottom: 0px;
}

section {
  max-width: 1024px;
  text-align: left;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid var(--winter-primary);
}

section:nth-child(even) .content-wrapper {
  flex-direction: row-reverse;
}

main {
  margin: 0 auto;
  max-width: 550px;
}

.content-wrapper {
  border: 1px solid black;
  display: flex;
  margin: 10px;
  margin-top: 0px;
  border: 2px solid var(--season-primary);
}

/* .spring {
  display: flex;
  flex-direction: row-reverse;
} */

/* h1 .big-hero {
  height: 200px;
  width: fit-content;
  background-image: url("../images/four-seasons-dark.jpg");
} */

/* .big-hero {
  display: block;
  border: 1px solid black;
  padding: 0px;
  width: 100% 100%;

  background-repeat: no-repeat;
  background-size: contain;
} */

/* body {
  background-color: var(--winter-primary);
} */
